body {
  background-color: whitesmoke;
}
.hidden-xxs {
  display: none;
}
@media (min-width: 400px) {
  .hidden-xxs {
    display: inline;
  }
}
.line-thru {
  margin: 1em 0;
  display: block;
  font-size: .875em;
  font-weight: bold;
  margin-bottom: 1em;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.line-thru:before {
  width: 50px;
  height: 10px;
  background-color: white;
  content: '';
  margin: -5px 0 0 -20px;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: -1;
}
.line-thru:after {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  content: '';
  display: block;
  position: absolute;
  top: 49%;
  z-index: -2;
}
.btn-social-round {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  color: white;
  vertical-align: middle;
}
.btn-social-round:hover {
  color: white;
  text-decoration: none;
}
.btn-twitter {
  background-color: #00c7f7;
  border-color: #00c7f7;
}
.btn-twitter:hover {
  background-color: #00a6ce;
  border-color: #0096ba;
}
.btn-github {
  background-color: #eeeeee;
  border-color: #e1e1e1;
  color: black;
}
.btn-github:hover {
  color: black;
  background-color: #cccccc;
  border-color: #dddddd;
}
.btn-facebook {
  background-color: #335397;
  border-color: #335397;
}
.btn-facebook:hover {
  background-color: #294279;
  border-color: #243a69;
}
.btn-google-plus {
  background-color: #dd4a38;
  border-color: #dd4a38;
}
.btn-google-plus:hover {
  background-color: #ca3522;
  border-color: #b8301f;
}
.site-header {
  height: 175px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}
.site-header .login-form {
  width: 320px;
  background-color: white !important;
}
.site-header .login-form .input-group {
  margin-bottom: 15px;
}
.site-header .login-form form {
  margin-bottom: 15px;
}
.main-logo {
  height: 125px;
  width: 125px;
  background: #e8330f;
  padding: 16px;
  position: absolute;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.main-logo:hover {
  background: #92230d;
}
.main-logo img {
  height: 93px;
  width: 93px;
}
.navbar {
  position: absolute;
  left: 125px;
  right: 0;
  top: 62.5px;
  margin-bottom: 0;
  border-radius: 0;
  z-index: 100;
}
.navbar-nav > li > a {
  font-weight: bold;
}
.navbar-toggle {
  padding: 14px 10px;
}
.dm-inverse {
  background-color: #222222;
}
.dm-inverse > li > a {
  color: #999999;
}
.dm-inverse > li > a:hover,
.dm-inverse > li > a:focus {
  color: white;
  background-color: transparent;
}
.dm-inverse > .active > a,
.dm-inverse > .active > a:hover,
.dm-inverse > .active > a:focus {
  color: white;
  background-color: #080808;
}
.dm-inverse .divider {
  background-color: #080808;
}
.top-cart {
  height: 62.5px;
  position: absolute;
  left: 125px;
  right: 0;
  top: 0;
  background: #1799dd;
  color: white;
}
.top-cart a {
  color: white;
}
.top-cart:hover {
  color: white;
  text-decoration: none;
}
.top-cart .inner {
  padding: 5px;
  padding-left: 10px;
}
.top-cart .icon {
  width: 42.5px;
  height: 42.5px;
  font-size: 42.5px;
  float: left;
}
.top-cart .content {
  line-height: 52.5px;
  font-size: 18px;
  float: left;
  padding-left: 20px;
}
.search-line {
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 125px;
  background: #6c7a89;
}
.search-line .navbar-form {
  margin: 0;
  padding: 7px 10px;
  padding-right: 67px;
}
.search-line .lang {
  float: right;
  width: 60px;
  height: 50px;
  padding: 8px 10px;
  padding-left: 0;
}
.search-line .lang a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/en.png') white no-repeat center;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.search-line .lang a:hover {
  background-color: #ebebeb;
  border-color: #adadad;
}
.footer {
  background-color: #222222;
}
.footer h4 {
  color: white;
}
.footer ul {
  padding-left: 0;
}
.footer ul li {
  list-style: none;
  color: white;
}
.footer hr {
  border-top: 1px solid #2b2b2b;
}
.footer p {
  color: #727272;
}
.copyright {
  color: #727272;
}
@media (min-width: 768px) {
  .navbar-collapse.collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .site-header {
    height: 125px;
    overflow: hidden;
    width: 100%;
  }
  .main-logo {
    height: 75px;
    width: 75px;
  }
  .main-logo img {
    height: 43px;
    width: 43px;
  }
  .navbar {
    left: 75px;
    top: 0;
    height: 75px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: 75px;
  }
  .navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    font-weight: bold;
  }
  .top-cart {
    width: 280px;
    height: 75px;
    z-index: 200;
    right: -205px;
    left: auto;
    position: fixed;
    -moz-transition: right 0.5s;
    -ms-transition: right 0.5s;
    -o-transition: right 0.5s;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
  }
  .top-cart:hover {
    right: 0;
  }
  .top-cart .icon {
    width: 55px;
    height: 55px;
    font-size: 55px;
    float: left;
  }
  .top-cart .content {
    line-height: 65px;
    font-size: 18px;
    float: left;
    padding-left: 20px;
  }
  .search-line {
    top: 75px;
  }
}
@media (min-width: 1200px) {
  .main-logo {
    height: 125px;
    width: 125px;
  }
  .main-logo img {
    height: 93px;
    width: 93px;
  }
  .navbar {
    left: 125px;
  }
  .search-line {
    left: 125px;
  }
}
