@import "style.less";

@header-height: 125px;
@logo-border: 16px;
@top-menu-height: 75px;
@login-width: 320px;
@top-cart-width: 280px;
@search-line-height: @header-height - @top-menu-height;

.line-thru {
	margin: 1em 0;
	display: block;
	font-size: .875em;
	font-weight: bold;
	margin-bottom: 1em;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
	&:before{
		width: 50px;
		height: 10px;
		background-color: #fff;
		content: '';
		margin: -5px 0 0 -20px;
		left: 50%;
		position: absolute;
		top: 50%;
		z-index: -1;
	}
	&:after{
		width: 100%;
		border-bottom: 1px solid #d9d9d9;
		content: '';
		display: block;
		position: absolute;
		top: 49%;
		z-index: -2;
	}
}

.btn-social-round {
	display: inline-block;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	line-height: 35px;
	text-align: center;
	color: white;
	vertical-align: middle;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

.btn-twitter {
	background-color: #00c7f7;
	border-color: #00c7f7;
	&:hover {
		background-color: #00a6ce;
		border-color: #0096ba;
	}
}

.btn-github {
	background-color: #eee;
	border-color: #e1e1e1;
	color: black;
	&:hover {
		color: black;
		background-color: #cccccc;
		border-color: #dddddd;
	}
}

.btn-facebook {
	background-color: #335397;
	border-color: #335397;
	&:hover {
		background-color: #294279;
		border-color: #243a69;
	}
}

.btn-google-plus {
	background-color: #dd4a38;
	border-color: #dd4a38;
	&:hover {
		background-color: #ca3522;
		border-color: #b8301f;
	}
}

.site-header {
	height: @header-height+@search-line-height;
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;

	.login-form {
		width: @login-width;
		background-color: #fff!important;
		.input-group {
			margin-bottom: 15px;
		}
		form {
			margin-bottom: 15px;
		}
	}
}

.main-logo {
	height: @header-height;
	width: @header-height;

	background: @orange;
	padding: @logo-border;
	position: absolute;
	.transition ();

	&:hover {
		background: @orange-dark;
	}

	img {
		height: @header-height - @logo-border*2;
		width: @header-height - @logo-border*2;
	}
}

.navbar {
	position: absolute;
	left: @header-height;
	right: 0;
	top: @header-height/2;
	margin-bottom: 0;
	border-radius: 0;
	z-index: 100;
}

.navbar-nav>li>a {
	font-weight: bold;
}

.navbar-toggle {
	padding: 14px 10px;
}

.dm-inverse {
	background-color: #222;
}
.dm-inverse > li > a {
	color: #999;
}
.dm-inverse > li > a:hover,
.dm-inverse > li > a:focus {
	color: #fff;
	background-color: transparent;
}
.dm-inverse > .active > a,
.dm-inverse > .active > a:hover,
.dm-inverse > .active > a:focus {
	color: #fff;
	background-color: #080808;
}

.dm-inverse .divider {
	background-color: #080808;
}

.top-cart {
	height: @header-height/2;
	position: absolute;
	left: @header-height;
	right: 0;
	top: 0;
	background: @blue;
	color: #fff;
	a {
		color: #fff;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
	}
	.inner {
		padding: 5px;
		padding-left: 10px;
	}
	.icon{
		width:  @header-height/2 - 20px;
		height:  @header-height/2 - 20px;
		font-size: @header-height/2 - 20px;
		float: left;
	}
	.content{
		line-height: @header-height/2 - 10px;
		font-size: 18px;
		float: left;
		padding-left: 20px;
	}
}

.search-line {
	height: @search-line-height;
	position: absolute;
	left: 0;
	right: 0;
	top: @header-height;
	background: @gray;
	.navbar-form{
		margin: 0;
		padding: 7px 10px;
		padding-right: @search-line-height + 17px;
	}
	.lang{
		float: right;
		width: @search-line-height + 10px;
		height: @search-line-height;
		padding: 8px 10px;
		padding-left: 0;
		a {
			display: block;
			width: 100%;
			height: 100%;
			background: url('../img/en.png') #fff no-repeat center;
			border: 1px solid #ccc;
			border-radius: 4px;
			&:hover {
				background-color: #ebebeb;
				border-color: #adadad;
			}
		}
	}
}

.footer {
	background-color: #222;
	h4 {
		color: white;
	}
	ul {
		padding-left: 0;
		li {
			list-style: none;
			color: white;
		}
	}
	hr {
		border-top: 1px solid #2b2b2b;
	}
	p {
		color: #727272;
	}
}
.copyright {
	color: #727272;
}

@media (min-width: 768px) {
	.navbar-collapse.collapse {
		padding-left: 0;
		padding-right: 0;
	}
	.site-header {
		height: @header-height;
		overflow: hidden;
		width: 100%;
	}
	.main-logo {
		height: @top-menu-height;
		width: @top-menu-height;
		img {
			height: @top-menu-height - @logo-border*2;
			width: @top-menu-height - @logo-border*2;
		}
	}

	.navbar {
		left: @top-menu-height;
		top: 0;
		height: @top-menu-height;
	}

	.navbar-nav.navbar-right:last-child {
		margin-right: @top-menu-height;
	}

	.navbar-nav>li>a {
		padding-top: (@top-menu-height - 22px)/2;
		padding-bottom: (@top-menu-height - 22px)/2;
		font-weight: bold;
	}

	.top-cart {
		width: @top-cart-width;
		height: @top-menu-height;
		z-index: 200;
		right: -(@top-cart-width - @top-menu-height);
		left: auto;
		position: fixed;
		.transition (right);
		&:hover {
			right: 0;
		}
		.icon{
			width:  @top-menu-height - 20px;
			height:  @top-menu-height - 20px;
			font-size: @top-menu-height - 20px;
			float: left;
		}
		.content{
			line-height: @top-menu-height - 10px;
			font-size: 18px;
			float: left;
			padding-left: 20px;
		}
	}

	.search-line {
		top: @top-menu-height;
	}
}

@media (min-width: 1200px) {
	.main-logo {
		height: @header-height;
		width: @header-height;
		img {
			height: @header-height - @logo-border*2;
			width: @header-height - @logo-border*2;
		}
	}

	.navbar {
		left: @header-height;
	}

	.search-line {
		left: @header-height;
	}
}