.transition (@type:background, @time:0.5s) {
	-moz-transition: @type @time;
	-ms-transition: @type @time;
	-o-transition: @type @time;
	-webkit-transition: @type @time;
	transition: @type @time;
}

.hidden-xxs {
	display: none;
}

@media (min-width: 400px) {
	.hidden-xxs {
		display: inline;
	}
}