@import "style.less";

.box {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 0px 1px #e4e6eb;
	-moz-box-shadow: 0px 1px 0px 1px #e4e6eb;
	box-shadow: 0px 1px 0px 1px #e4e6eb;
	margin: 0px 0px 30px 0px;
	background: white;
	padding: 10px;
	position: relative;
}

.product-list .box {
	padding: 0;
	padding-bottom: 10px;

	&:hover {

	}
}

.product-list h3 {
	font-size: 22px;
	text-align: center;
	a {
		color: black;
	}
}

.category {
	display: block;
	position: relative;
	margin-bottom: 10px;
	font-size: 18px;
	color: black;
	.count {
		text-align: center;
	}
	.title {
		height: 50px;
	}
	&:hover {
		background: #f8f8f8;
	}
}
.compatibility {
	.badge {
		background: @blue;
		margin-right: 2px;
	}
}

.title a {
	color: black;
	.small_title {
		font-style: italic;
		font-size: 20px;
		text-decoration: underline;
		color: #999999;
		&:hover {
			color: @orange;
		}
	}
}

.price {
	color: @orange;
	font-size: 26px;
	font-weight: bold;
}

.rating {
	font-size: 20px;
	color: @yellow;
}

.description_short a{
	color: black;
	text-decoration: none;
}

.buy-btn {
	background: @orange;
	color: white;
	&:hover {
		background: @orange-dark;
		color: white;
	}
}

.img-block {
	padding-right: 0;
}

.paragraph-end {
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
	background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
	background-image: -moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
	background-image: -ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
	background-image: -o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
	background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00ffffff',EndColorStr='#ffffff');
	bottom: 0;
	height: 25px;
	max-height: 100%;
	position: absolute;
	right: 0;
	width: 50%;
}

.blog-items, .update-items {
	.title {
		font-size: 18px;
	}
	.box {
		margin-bottom: 5px;
		padding: 5px;
	}
}
@media (max-width: 768px) {
	.category {
		.count {
			display: inline;
		}
		.title {
			display: inline;
		}
	}
}