body {
  background-color: whitesmoke;
}
.hidden-xxs {
  display: none;
}
@media (min-width: 400px) {
  .hidden-xxs {
    display: inline;
  }
}
.box {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 0px 1px #e4e6eb;
  -moz-box-shadow: 0px 1px 0px 1px #e4e6eb;
  box-shadow: 0px 1px 0px 1px #e4e6eb;
  margin: 0px 0px 30px 0px;
  background: white;
  padding: 10px;
  position: relative;
}
.product-list .box {
  padding: 0;
  padding-bottom: 10px;
}
.product-list h3 {
  font-size: 22px;
  text-align: center;
}
.product-list h3 a {
  color: black;
}
.category {
  display: block;
  position: relative;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
}
.category .count {
  text-align: center;
}
.category .title {
  height: 50px;
}
.category:hover {
  background: #f8f8f8;
}
.compatibility .badge {
  background: #1799dd;
  margin-right: 2px;
}
.title a {
  color: black;
}
.title a .small_title {
  font-style: italic;
  font-size: 20px;
  text-decoration: underline;
  color: #999999;
}
.title a .small_title:hover {
  color: #e8330f;
}
.price {
  color: #e8330f;
  font-size: 26px;
  font-weight: bold;
}
.rating {
  font-size: 20px;
  color: #f59b0b;
}
.description_short a {
  color: black;
  text-decoration: none;
}
.buy-btn {
  background: #e8330f;
  color: white;
}
.buy-btn:hover {
  background: #92230d;
  color: white;
}
.img-block {
  padding-right: 0;
}
.paragraph-end {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), white);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), white);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), white);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), white);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#00ffffff', EndColorStr='#ffffff');
  bottom: 0;
  height: 25px;
  max-height: 100%;
  position: absolute;
  right: 0;
  width: 50%;
}
.blog-items .title,
.update-items .title {
  font-size: 18px;
}
.blog-items .box,
.update-items .box {
  margin-bottom: 5px;
  padding: 5px;
}
@media (max-width: 768px) {
  .category .count {
    display: inline;
  }
  .category .title {
    display: inline;
  }
}
