
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-icq:before { content: '\e801'; } /* '' */
.icon-skype:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-rouble:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-vkontakte:before { content: '\e807'; } /* '' */
.icon-youtube:before { content: '\e808'; } /* '' */
.icon-money:before { content: '\e809'; } /* '' */
.icon-euro:before { content: '\e80a'; } /* '' */
.icon-dollar:before { content: '\e80b'; } /* '' */